<section>
  <div class="container">
    <div class="row p-flex-jc-sb">
      <div class="p-profile item"></div>
      <div class="item">
        <div>
          <span class="p-tag">Devloper</span>
          <h1 class="top-heading">Anish Kumar</h1>
          <p class="p-dsc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit, id maiores odit numquam earum voluptate? Eius
            incidunt libero iste, amet modi deserunt exercitationem placeat ut,
            non quis consectetur quo eum.
          </p>
          <a href="" class="p-readmore"
            >Read More
            <img src="../../../assets/img/rm.png" class="rm-img" alt=""
          /></a>
        </div>

        <div>
          <h6>Subscribe to our Newsletter</h6>
          <form class="form-inline">
            <div class="form-group">
              <input
                type="email"
                placeholder="Enter Your Email here"
                class="form-control input"
                id=""
                autocomplete="off"
              />
              <button class="btn form-control">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
